<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Trace Config -->
  <!-- Custom Listener config see: http://stackoverflow.com/questions/1176582/how-to-define-custom-tracelistener-in-app-config -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <!-- Shared Listener defined them, here you only need to declare them with their names -->
      <listeners>
      <add name="consleListener" />
        <add name="textListener" />
        <add name="customtextListener" />
        <add name="customdatetextListener" />
        <remove name="Default" />
        </listeners>
      <!-- If no shared listeners, use listeners below -->
      <!--<listeners>
        <add name="consleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="textwithconfig.log" />
        <add name="customtextListener" type="LoggingTrace.Listeners.CustomTextListener, LoggingTrace" initializeData="customtextwithconfig.log" />
        <add name="customdatetextListener" type="LoggingTrace.Listeners.CustomDateFileTextListener, LoggingTrace" />
        <remove name="Default" />
      </listeners>-->
    </trace>
    <sharedListeners>
      <add name="consleListener" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="textwithconfig.log" />
      <add name="customtextListener" type="LoggingTrace.Listeners.CustomTextListener, LoggingTrace" initializeData="customtextwithconfig.log" />
      <add name="customdatetextListener" type="LoggingTrace.Listeners.CustomDateFileTextListener, LoggingTrace" />
    </sharedListeners>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>